spring:
  application:
    name: api-gateway
    
  r2dbc:
    url: r2dbc:postgresql://localhost:5431/api_gateway
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  kafka:
    consumer:
      group-id: api-gateway-group

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/auth/**
        - id: user-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/users/**
        - id: role-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/roles/**
        - id: mail-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/mail/**
        - id: template-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/templates/**

server:
  port: 8080

logging:
  level:
    root: INFO
    com.vertyll.projecta: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
    org.springframework.kafka: INFO
    reactor.netty.http.client: DEBUG
