spring:
  application:
    name: api-gateway

  profiles:
    active: dev

  config:
    import: classpath:shared-config.yml

  main:
    web-application-type: reactive

  cloud:
    config:
      enabled: false
    discovery:
      enabled: false
    service-registry:
      auto-registration:
        enabled: false
    gateway:
      # Routes are defined in ApiGatewayApplication.customRouteLocator
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration

