spring:
  application:
    name: api-gateway
    
  r2dbc:
    url: r2dbc:postgresql://localhost:5431/api_gateway
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      group-id: api-gateway-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "com.vertyll.projecta.*"
        spring.json.value.default.type: "java.util.Map"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/auth/**
        - id: user-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/users/**
        - id: role-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/roles/**
        - id: mail-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/mail/**
        - id: template-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/templates/**

server:
  port: 8080

# Actuator endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when-authorized
      probes:
        enabled: true
    metrics:
      access: read-only
    prometheus:
      access: read-only

logging:
  level:
    root: INFO
    com.vertyll.projecta: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
    org.springframework.kafka: INFO
    reactor.netty.http.client: DEBUG
