spring:
  application:
    name: api-gateway

  cloud:
    config:
      enabled: false
    discovery:
      enabled: false
    service-registry:
      auto-registration:
        enabled: false
    gateway:
      server:
        webflux:
          globalcors:
            corsConfigurations:
              '[/**]':
                allowedOrigins: "http://localhost:4200"
                allowedMethods: "*"
                allowedHeaders: "*"
                allowCredentials: true
          routes:
            - id: auth-service
              uri: ${AUTH_SERVICE_URL:http://localhost:8082}
              predicates:
                - Path=/auth/**
            - id: user-service
              uri: ${USER_SERVICE_URL:http://localhost:8083}
              predicates:
                - Path=/users/**
            - id: role-service
              uri: ${ROLE_SERVICE_URL:http://localhost:8084}
              predicates:
                - Path=/roles/**
            - id: mail-service
              uri: ${MAIL_SERVICE_URL:http://localhost:8085}
              predicates:
                - Path=/mail/**

server:
  port: 8080

logging:
  level:
    root: INFO
    com.vertyll.projecta: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
    reactor.netty.http.client: DEBUG
