spring:
  application:
    name: api-gateway

  cloud:
    config:
      enabled: false
    discovery:
      enabled: false
    service-registry:
      auto-registration:
        enabled: false
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "${CORS_ALLOWED_ORIGINS:*}"
            allowedMethods: "${CORS_ALLOWED_METHODS:GET,POST,PUT,PATCH,DELETE,OPTIONS}"
            allowedHeaders: "${CORS_ALLOWED_HEADERS:*}"
            allowCredentials: true
      routes:
        - id: auth-service
          uri: ${AUTH_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/auth/**
        - id: user-service
          uri: ${USER_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=/users/**
        - id: role-service
          uri: ${ROLE_SERVICE_URL:http://localhost:8084}
          predicates:
            - Path=/roles/**
        - id: mail-service
          uri: ${MAIL_SERVICE_URL:http://localhost:8085}
          predicates:
            - Path=/mail/**

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    root: WARN
    com.vertyll.projecta: INFO
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO
    reactor.netty.http.client: INFO
