spring:
  application:
    name: role-service
    
  datasource:
    url: jdbc:postgresql://localhost:5434/role_service
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka.consumer.group-id: role-service-group

server:
  port: 8084

logging:
  level:
    ROOT: INFO
    com.vertyll.projecta: DEBUG
    org.springframework.security: DEBUG
    org.springframework.kafka: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE