server:
  port: 8084

spring:
  application:
    name: role-service

  config:
    import: classpath:shared-config.yml
  datasource:
    url: jdbc:postgresql://localhost:5434/role_service

# OpenAPI configuration
springdoc:
  api-docs:
    path: /api-docs

  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: true
    url: /api-docs
    config-url: /api-docs/swagger-config

# Actuator endpoints configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

  endpoint:
    health:
      show-details: when-authorized
      probes:
        enabled: true
    metrics:
      access: read-only
    prometheus:
      access: read-only
