spring:
  application:
    name: user-service

  profiles:
    active: dev

  config:
    import: classpath:shared-config.yml

# OpenAPI configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: true
    url: /api-docs
    config-url: /api-docs/swagger-config

# Kafka Topics Configuration for User Service
kafka:
  topics:
    # Topics that this service publishes to
    publish:
      user-registered: "user-registered"
      credentials-verification-result: "credentials-verification-result"
      user-updated: "user-updated"
    
    # Topics that this service subscribes to
    subscribe:
      user-registered: "user-registered"
      user-updated: "user-updated"
      user-deletion: "user-deletion"
      saga-compensation: "saga-compensation"