spring:
  application:
    name: template-service

  profiles:
    active: dev

  config:
    import: classpath:shared-config.yml

# Kafka Topics Configuration for Template Service
kafka:
  topics:
    # Topics that this service subscribes to
    subscribe:
      saga-compensation: "saga-compensation"