config:
  validation: true
  warningsAsErrors: true

comments:
  active: true

complexity:
  active: true
  TooManyFunctions:
    active: false
  LargeClass:
    active: false
  LongMethod:
    active: false
  CyclomaticComplexMethod:
    active: false

coroutines:
  active: true

empty-blocks:
  active: true
  EmptyFunctionBlock:
    active: false

exceptions:
  active: true
  SwallowedException:
    active: false
  TooGenericExceptionThrown:
    active: false
  TooGenericExceptionCaught:
    active: false

naming:
  active: true

performance:
  active: true

potential-bugs:
  active: true

style:
  active: true
  MaxLineLength:
    active: false
  ThrowsCount:
    active: false
  ReturnCount:
    active: false
